# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Logs and data
*.log

*.db
.DS_Store

#tests
test_pagination.py
test_async.py
test_retry.py

# Reports
reports/output/



# Pytest
.pytest_cache/
htmlcov/
.coverage
*.pyc
__pycache__/


old_tests/